<div class="about-wrapper">
  <div class="tab-wrap">
    <!-- active tab on page load gets checked attribute -->
    <input type="radio" id="about-tab" name="tabGroup1" class="tab" checked />
    <label for="about-tab">About</label>

    <input type="radio" id="calculations-tab" name="tabGroup1" class="tab" />
    <label for="calculations-tab">Calculations</label>

    <input type="radio" id="contribute-tab" name="tabGroup1" class="tab" />
    <label for="contribute-tab">Contribute</label>

    <input type="radio" id="feedback-tab" name="tabGroup1" class="tab" />
    <label for="feedback-tab">Feedback</label>

    <div class="tab__content">
      <h3>Short Section</h3>
      <p>
        Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
        turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam
        accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec,
        vulputate eget, arcu.
      </p>
    </div>

    <div class="tab__content">
      <h3>Medium Section</h3>
      <p>
        Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
        turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam
        accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec,
        vulputate eget, arcu.
      </p>

      <p>
        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi
        mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis
        mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.
      </p>
    </div>

    <div class="tab__content">
      <h3>Long Section</h3>
      <p>
        Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
        turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam
        accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec,
        vulputate eget, arcu.
      </p>
    </div>
    <div class="tab__content">
        <h3>Long Section</h3>
        <p>
          Feedback
        </p>
      </div>
  </div>
</div>
