<div class="preferences-wrapper" [class.preferences-show]="showPreferences">
  <div class="preferences-background" (click)="onPreferencesIconClicked()"></div>
  <div class="preferences">
    <div class="preferences-list">
      <div class="preferences-entry preferences-toggle-entry">
        <label class="preferences-toggle-label" for="dark-mode">
          Dark mode
        </label>
        <label class="preferences-toggle-switch switch">
          <input type="checkbox" [(ngModel)]="useDarkMode" (change)="onDarkModeChanged()" id="dark-mode" />
          <span class="slider round"></span>
        </label>
      </div>
      <div class="preferences-entry preferences-language" *ngFor="let lang of Language | keyvalue">
        <label class="language-option">
          <input type="radio" name="language" [checked]="language === lang.value" [value]="lang.value"
            (change)="language = lang.value;onLanguageChanged();" />
          <span class="checkmark"></span>
          {{this.getFlagForLangauge(lang.value) + " " + lang.value}}
        </label>
      </div>
    </div>
    <button class="preferences-icon" (click)="onPreferencesIconClicked()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M24 14v-4c-1.619 0-2.906.267-3.705-1.476-.697-1.663.604-2.596 1.604-3.596l-2.829-2.828c-1.033 1.033-1.908 2.307-3.666 1.575-1.674-.686-1.404-2.334-1.404-3.675h-4c0 1.312.278 2.985-1.404 3.675-1.761.733-2.646-.553-3.667-1.574l-2.829 2.828c1.033 1.033 2.308 1.909 1.575 3.667-.348.849-1.176 1.404-2.094 1.404h-1.581v4c1.471 0 2.973-.281 3.704 1.475.698 1.661-.604 2.596-1.604 3.596l2.829 2.829c1-1 1.943-2.282 3.667-1.575 1.673.687 1.404 2.332 1.404 3.675h4c0-1.244-.276-2.967 1.475-3.704 1.645-.692 2.586.595 3.596 1.604l2.828-2.829c-1-1-2.301-1.933-1.604-3.595l.03-.072c.687-1.673 2.332-1.404 3.675-1.404zm-12 2c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z" />
      </svg>
    </button>
  </div>
</div>
