<app-prose-page>
  <h1>Page not found</h1>

  <p>
    The URL you tried doesn't match any page on TypeFast.io. It may have
    moved, or the link you followed might be out of date.
  </p>

  <p>
    Try the <a routerLink="/">typing test</a> on the home page, or jump to
    one of these:
  </p>

  <ul>
    <li><a routerLink="/about">About TypeFast.io</a></li>
    <li><a routerLink="/how-it-works">How it works</a></li>
    <li><a routerLink="/tips">Typing tips</a></li>
    <li><a routerLink="/feedback">Report a broken link</a></li>
  </ul>
</app-prose-page>
