app-typer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

app-preferences {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.title {
    position: absolute;
    top: 1px;
    left: 10px;
    color: #ababab;
    opacity: .1;
    font-size: 1.5em;
    font-family: Roboto Mono;
}