app-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}


app-preferences {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}
