<dialog
  #preferencesDialog
  class="preferences-dialog"
  (click)="onDialogBackdropClick($event, preferencesDialog)"
  (close)="onPreferencesDialogClosed()"
>
  <div class="preferences-list">
    <!-- Theme preferences group -->
    <app-preference-group
      [groupKey]="Preference.THEME"
      [currentOpen]="openedPreferencesGroup"
      title="Theme"
      [valueText]="prefs.theme()"
      [valueCapitalize]="true"
      entriesClass="preferences-group-entries-theme"
      (toggled)="togglePreferencesGroup($event)"
    >
      @for (them of Theme | keyvalue; track them) {
        <div
          class="preferences-entry preferences-select-option capitalize"
          [class.selected]="prefs.theme() === them.value"
          (click)="onThemeChanged(them.value)"
        >
          <div class="label">{{ them.value }}</div>
          <span class="checkmark"></span>
        </div>
      }

      <app-preference-toggle
        label="Follow system"
        [value]="prefs.followSystemTheme()"
        [mainEntry]="false"
        (toggled)="prefs.setPreference(Preference.FOLLOW_SYSTEM_THEME, $event)"
      />
    </app-preference-group>

    <!-- Default word mode preferences group -->
    <app-preference-group
      [groupKey]="Preference.WORD_MODE"
      [currentOpen]="openedPreferencesGroup"
      title="Word mode"
      [valueText]="prefs.wordMode()"
      [valueCapitalize]="true"
      entriesClass="preferences-group-entries-word-mode"
      (toggled)="togglePreferencesGroup($event)"
    >
      @for (mode of WordMode | keyvalue; track mode) {
        <div
          class="preferences-entry preferences-select-option capitalize"
          [class.selected]="prefs.wordMode() === mode.value"
          (click)="onDefaultWordModeChanged(mode.value)"
        >
          <span
            class="checkmark"
            [class.checkmark-loading]="currentlyLoadingWordMode === mode.value"
          >
            <div class="spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </span>
          <div class="label">
            {{ mode.value }}
          </div>
        </div>
      }
    </app-preference-group>

    <!-- Language preferences group -->
    <app-preference-group
      groupKey="language"
      [currentOpen]="openedPreferencesGroup"
      title="Language"
      [valueText]="getNameForLanguage(prefs.language())"
      entriesClass="preferences-group-entries-language"
      (toggled)="togglePreferencesGroup($event)"
    >
      @for (lang of Language | keyvalue: originalOrder; track lang) {
        <div
          class="preferences-entry preferences-select-option"
          [class.selected]="prefs.language() === lang.value"
          (click)="onLanguageChanged(lang.value)"
        >
          <div
            class="flag-icon"
            [ngClass]="'flag-icon-' + getISOForLangauge(lang.value)"
          ></div>
          <span
            class="checkmark"
            [class.checkmark-loading]="currentlyLoadingLanguage === lang.value"
          >
            <div class="spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </span>
          <div class="label" [class.underline]="lang.value === Language.CUSTOM">
            <!--
              -->{{
              lang.value === Language.CUSTOM
                ? getCachedFileName() || getNameForLanguage(lang.value)
                : getNameForLanguage(lang.value)
            }}
          </div>
        </div>
      }

      <!-- Ignore diacritics / accented characters -->
      <app-preference-toggle
        label="Ignore accents"
        [value]="prefs.ignoreDiacritics()"
        extraClass="preferences-entry-ignore-accented-characters"
        (toggled)="prefs.setPreference(Preference.IGNORE_DIACRITICS, $event)"
      />

      <!-- Ignore casing -->
      <app-preference-toggle
        label="Ignore casing"
        [value]="prefs.ignoreCasing()"
        extraClass="preferences-entry-ignore-diacritics"
        (toggled)="prefs.setPreference(Preference.IGNORE_CASING, $event)"
      />
    </app-preference-group>

    <!-- Text size preferences group -->
    <app-preference-group
      [groupKey]="Preference.TEXT_SIZE"
      [currentOpen]="openedPreferencesGroup"
      title="Text size"
      [valueText]="prefs.textSize()"
      [valueCapitalize]="true"
      entriesClass="preferences-group-entries-text-size"
      (toggled)="togglePreferencesGroup($event)"
    >
      @for (size of TextSize | keyvalue; track size) {
        <label
          class="preferences-entry preferences-select-option"
          [class.selected]="prefs.textSize() === size.value"
          (click)="onTextSizeChanged(size.value)"
        >
          <span class="checkmark"></span>
          <div class="label">
            {{ size.value }}
          </div>
        </label>
      }
    </app-preference-group>

    <!-- Scrolling preferences group -->
    <app-preference-group
      groupKey="scrolling"
      [currentOpen]="openedPreferencesGroup"
      title="Scrolling options"
      entriesClass="preferences-group-entries-scrolling"
      (toggled)="togglePreferencesGroup($event)"
    >
      <!-- Smooth scrolling -->
      <app-preference-toggle
        label="Smooth scrolling"
        [value]="prefs.smoothScrolling()"
        (toggled)="prefs.setPreference(Preference.SMOOTH_SCROLLING, $event)"
      />

      <!-- Reverse scroll -->
      <app-preference-toggle
        label="Reverse scroll"
        [value]="prefs.reverseScroll()"
        (toggled)="prefs.setPreference(Preference.REVERSE_SCROLL, $event)"
      />

      <!-- Scrolling animation -->
      <app-preference-toggle
        label="Scrolling animation"
        [value]="prefs.scrollingAnimation()"
        (toggled)="prefs.setPreference(Preference.SCROLLING_ANIMATION, $event)"
      />
    </app-preference-group>

    <!-- Display preferences group -->
    <app-preference-group
      groupKey="display"
      [currentOpen]="openedPreferencesGroup"
      title="Display options"
      (toggled)="togglePreferencesGroup($event)"
    >
      <!-- Hide timer during test -->
      <app-preference-toggle
        label="Hide timer"
        [value]="prefs.hideTimer()"
        (toggled)="prefs.setPreference(Preference.HIDE_TIMER, $event)"
      />

      <!-- Hide live stats during test -->
      <app-preference-toggle
        label="Hide live stats"
        [value]="prefs.hideLiveStats()"
        (toggled)="prefs.setPreference(Preference.HIDE_LIVE_STATS, $event)"
      />
    </app-preference-group>

    <!-- Reset preferences -->
    <button
      type="button"
      class="preferences-entry preferences-entry-main preferences-reset-button"
      (click)="onClickResetPreferences()"
    >
      Reset preferences
      <div popper class="info-icon-tooltip-container">
        <div class="info-icon"></div>
        <div class="tooltip">Clears the preferences from the browser.</div>
      </div>
    </button>
  </div>
</dialog>
