$preferences-offset: 16px;
$preferences-entry-padding-side: 16px;
$preferences-entry-padding-vertical: 9px;
$preferences-entry-height: 31px;
$preferences-entry-main-height: 37px;

* {
  user-select: none;
}

.preferences-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.preferences {
  position: absolute;
  right: $preferences-offset;
  top: $preferences-offset;
  display: flex;
  max-height: calc(100% - 32px);
}

.preferences-icon {
  padding: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  background: no-repeat;
  display: block;
  box-sizing: content-box;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
  pointer-events: initial;

  svg {
    fill: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;
  }

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
    border: none;
  }
}

@media (min-width: 800px) {
  .preferences-icon {
    width: 23px;
    height: 23px;
  }
}

.preferences-icon-github {
  svg {
    width: 75%;
    height: 75%;
  }
}

.preferences-icon-discord {
  margin-bottom: 2px;
}

.preferences-icon-info {
  svg {
    width: 75%;
    height: 75%;
  }
}

.preferences-icons {
  display: flex;
  flex-direction: column;
}

.preferences-list {
  background-color: #252525e0;
  border-radius: 6px;
  margin-right: 10px;
  color: white;
  width: 240px;
  opacity: 0;
  transition: opacity 0.2s;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  visibility: hidden;

  label {
    text-transform: capitalize;
  }
}

.preferences-padding {
  padding: $preferences-entry-padding-vertical $preferences-entry-padding-side;
}

.preferences-select-option {
  display: block;
  position: relative;
  padding: 6px 51px 6px 16px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.04);
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 2px;
    right: 16px;
    height: 25px;
    width: 25px;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .label {
    display: inline;
  }

  .spinner {
    display: none;
  }

  .flag-icon {
    margin-right: 5px;
  }

  /* Show the loader when loading */
  &.selected .checkmark.checkmark-loading {
    .spinner {
      display: block;
    }
  }

  /* Show the checkmark when checked */
  &.selected .checkmark:not(.checkmark-loading):after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.preferences-entry {
  transition: background-color 0.2s;
  background-color: transparent;
  height: $preferences-entry-height;

  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.08);
  }

  &.preferences-toggle-entry {
    display: flex;

    .preferences-toggle-label {
      flex: 1;
      font-weight: bold;
      margin-right: -60px;
      padding: 7px 50px 7px $preferences-entry-padding-side;
      cursor: pointer;
    }

    .preferences-toggle-switch {
      margin: 6px $preferences-entry-padding-side;
    }
  }

  &.preferences-entry-ignore-accented-characters {
    border-top: solid #85858544 1px;
  }
}

.preferences-entry-main {
  font-weight: bold;
  height: $preferences-entry-main-height;

  &.preferences-toggle-entry {
    .preferences-toggle-label {
      padding: $preferences-entry-padding-vertical 50px
        $preferences-entry-padding-vertical $preferences-entry-padding-side;
    }

    .preferences-toggle-switch {
      margin: 9px $preferences-entry-padding-side 9px 8px;
    }
  }
}

.preferences-background {
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  pointer-events: none;
}

.preferences-show {
  .preferences-background,
  .preferences-list {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
}

.preferences-group {
  .preferences-group-title {
    padding: $preferences-entry-padding-vertical $preferences-entry-padding-side;
    cursor: pointer;
    display: flex;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(128, 128, 128, 0.062);
    }

    .preferences-group-title-value {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left: $preferences-entry-padding-side;
      opacity: 0.7;
    }

    .preferences-group-title-key {
      flex: 1;
      font-weight: bold;
    }
  }

  .preferences-group-entries {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    background-color: #00000066;

    .preferences-toggle-label {
      font-weight: normal;
    }
  }

  .preferences-group-title-arrow {
    margin-left: 6px;
    height: 18px;
    width: 18px;
    min-width: 18px;
    position: relative;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(-90deg);
      fill: white;
      width: 80%;
      transition: transform 0.4s;
      transform-origin: center;
    }
  }

  &.preferences-group-opened {
    .preferences-group-entries {
      max-height: 100px;

      &.preferences-group-entries-theme {
        max-height: 93px;
      }

      &.preferences-group-entries-language {
        max-height: 595px;
      }

      &.preferences-group-entries-word-mode {
        max-height: 62px;
      }

      &.preferences-group-entries-scrolling {
        max-height: 111px;
      }

      &.preferences-group-entries-text-size {
        max-height: 93px;
      }
    }

    .preferences-group-title-arrow {
      svg {
        transform: translate3d(-50%, -50%, 0) rotate(-180deg);
      }
    }
  }
}
