.type-test-container {
  &.type-test-started {
    .type-test-timer-increase,
    .type-test-timer-decrease {
      pointer-events: none;
      opacity: 0;
    }
  }

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.type-test {
  order: 2;
  width: 100%;
  margin: 0 auto 20px auto;
}

.word-container-wrapper {
  width: 100%;
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 30%,
    black 70%,
    transparent 100%
  );
}

$word-center-offset: 80px;

.word-container {
  display: flex;
  margin-left: calc(50% - #{$word-center-offset});
  transition: margin-left 0.1s ease-in-out;
}

$word-spacing: 20px;
.word {
  color: white;
  font-size: 3em;
  text-align: center;
  transition: color 1s, opacity 1s;
  user-select: none;
  padding: 0 $word-spacing 0 0;
  flex-shrink: 0;

  &.word-correct {
    opacity: 0.2;
  }

  &.word-incorrect {
    color: #ff0000;
    opacity: 0.2;
  }
}

.word-input {
  background: transparent;
  color: white;
  font-size: 3em;
  height: auto;
  border: none;
  outline: none;
  padding: 0 0 0 calc(50% - #{$word-center-offset});
  width: 100%;
  caret-color: white;
  transition: color 0.2s;

  &.input-incorrect {
    color: rgb(255, 68, 68);
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.type-test-reverse-scroll {
  .word-container {
    margin-left: initial;
    flex-direction: row-reverse;
    margin-right: calc(50% - #{$word-center-offset});
    transition: margin-right 0.1s ease-in-out;
  }
}

.type-test-results {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  width: 310px;
  order: 3;
  margin: auto auto 40px auto;

  th,
  td {
    padding: 6px;
  }

  th {
    text-align: right;
    padding-right: 12px;
    padding-left: 18px;
    width: 170px;
    min-width: 170px;
  }

  td {
    text-align: left;
    padding-right: 10px;
    width: 140px;
    max-width: 140px;
    display: flex;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    .info-icon-tooltip-container {
      flex: 0;
      float: initial;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(128, 128, 128, 0.07);
    }

    &:last-child {
      th,
      td {
        padding-bottom: 12px;
      }
    }
  }

  .type-test-results-wpm {
    th {
      text-align: center;
    }

    .type-test-results-wpm-value {
      font-size: 2.9em;
      padding-right: 5px;
    }
  }

  .type-test-results-incorrect-words {
    cursor: pointer;
  }
}

.type-test-controls {
  position: relative;
  order: 1;
  margin: 40px auto auto auto;
}

.type-test-timer {
  color: white;
  font-size: 2.5em;
  opacity: 0.5;

  display: flex;
  justify-content: center;

  .type-test-timer-time {
    padding: 8px 16px;
    user-select: none;
    min-width: $word-center-offset;
    text-align: center;
  }

  .type-test-timer-increase,
  .type-test-timer-decrease {
    transition: opacity 0.5s;
    cursor: pointer;
    padding: 8px;
    opacity: 0.35;
    width: 24px;
    position: relative;
    transition: opacity 0.2s;
    border: none;
    background: no-repeat;
    display: block;
    box-sizing: content-box;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 50%;
      fill: white;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
      transition: none;
    }
  }
}

.type-test-restart {
  width: 40px;
  margin: 1em auto;
  padding: 1em;
  cursor: pointer;
  border: none;
  background: no-repeat;
  display: block;
  box-sizing: content-box;
  transition: opacity 0.2s;
  opacity: 0.5;

  svg {
    fill: rgba(255, 255, 255, 0.788);
  }

  &:hover {
    opacity: 0.8;

    svg {
      transform: rotate(360deg);
      transition: transform 0.5s;
    }
  }

  &:active {
    opacity: 1;
  }
}

.type-test-results-wpm th {
  position: relative;
}

.info-icon-tooltip-wpm {
  position: absolute;
  bottom: 6px;
  right: 10px;
}

.type-test-incorrect-words-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;

  &.type-test-incorrect-words-modal-show {
    opacity: 1;
    pointer-events: initial;
  }

  .type-test-incorrect-words-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .type-test-incorrect-words-modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    min-width: auto;
    width: 330px;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    background-color: rgba(7, 7, 7);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;

    .incorrect-words-modal-title {
      text-align: center;
      width: 100%;
      padding: 16px;
      flex: 0;
    }

    .info-icon-tooltip-incorrect-words {
      position: absolute;
      right: 16px;
      top: 16px;
    }

    .incorrect-words-placeholder {
      padding: 16px;
      opacity: 0.8;
      text-align: center;
    }

    .incorrect-words-modal-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;
    }

    .type-test-incorrect-words-modal-entry {
      font-size: 1.5em;
      width: 100%;
      text-align: center;

      &:nth-child(odd) {
        background-color: rgb(10, 10, 10);
      }
    }

    .incorrect-words-modal-close {
      border: none;
      border-radius: 50px;
      background-color: rgb(177, 0, 0);
      opacity: 0.8;
      color: white;
      font-size: 16px;
      padding: 8px;
      width: 50%;
      margin: 16px auto;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 400px) {
  .word-input,
  .word {
    font-size: 2em;
    padding-right: 10px;
  }
}
