body {
  background-color: #080808;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
}

app-root {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4a4a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.capitalize {
  text-transform: capitalize;
}

// Loader
.spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  margin: 2px 0 0 2px;
}
.spinner div {
  transform-origin: 10px 10px;
  animation: spinner 1.2s linear infinite;
}
.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 9px;
  width: 1px;
  height: 4px;
  border-radius: 20%;
  background: #fff;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// tooltip

.tooltip {
  background-color: rgba(54, 54, 54, 0.705);
  color: rgb(218, 218, 218);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 15px;
  opacity: 0;
  pointer-events: none;
  max-width: 300px;
  transition: opacity 0.2s;
  overflow-wrap: break-word;
  white-space: break-spaces;
  font-weight: normal;
  text-align: initial;
  width: max-content;
  z-index: 1;
  text-transform: none;
}

*:hover {
  & > .tooltip {
    opacity: 1;
    pointer-events: initial;
  }
}

.info-icon-tooltip-container {
  float: right;
  height: 19px;
}

.info-icon {
  background-color: rgba(128, 128, 128, 0.151);
  mask-image: url("assets/icons/info-circle-solid.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  cursor: pointer;
}

// Flag icons
.flag-icon:before {
  content: "\00a0";
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon-dev {
  background-image: url("assets/icons/curly-brackets.svg");
}

.flag-icon-sa {
  background-image: url(assets/icons/flags/sa.svg);
}

.flag-icon-cn {
  background-image: url(assets/icons/flags/cn.svg);
}

.flag-icon-nl {
  background-image: url(assets/icons/flags/nl.svg);
}

.flag-icon-gb {
  background-image: url(assets/icons/flags/gb.svg);
}

.flag-icon-fr {
  background-image: url(assets/icons/flags/fr.svg);
}

.flag-icon-de {
  background-image: url(assets/icons/flags/de.svg);
}

.flag-icon-in {
  background-image: url(assets/icons/flags/in.svg);
}

.flag-icon-hu {
  background-image: url(assets/icons/flags/hu.svg);
}

.flag-icon-it {
  background-image: url(assets/icons/flags/it.svg);
}

.flag-icon-jp {
  background-image: url(assets/icons/flags/jp.svg);
}

.flag-icon-kr {
  background-image: url(assets/icons/flags/kr.svg);
}

.flag-icon-ru {
  background-image: url(assets/icons/flags/ru.svg);
}

.flag-icon-pt {
  background-image: url(assets/icons/flags/pt.svg);
}

.flag-icon-es {
  background-image: url(assets/icons/flags/es.svg);
}

// Themes (default is dark)

#body.theme--light {
  background-color: rgb(219, 219, 219);

  .title {
    color: rgb(24, 24, 24);
    user-select: none;
  }

  .spinner div:after {
    background: rgb(0, 0, 0);
  }

  .info-icon {
    background-color: rgba(128, 128, 128, 0.26);
  }

  input:not(:checked) + .slider {
    background-color: #adadad;
  }

  // Preferences component
  app-preferences {
    .preferences-list {
      background-color: #cececeee;
      color: #424242;
    }

    .checkmark:after {
      border-color: rgb(0, 0, 0);
    }

    .preferences-entry:hover {
      background-color: rgba(90, 90, 90, 0.075);
    }

    .preferences-group-title:hover {
      background-color: rgba(90, 90, 90, 0.014);
    }

    .preferences-group-entries {
      background-color: #b7b7b766;
    }

    .preferences-group-title-arrow {
      svg {
        fill: rgb(26, 26, 26);
      }
    }
  }

  app-typer {
    .word {
      color: rgba(26, 26, 26, 0.74);

      &.word-incorrect {
        color: #ff0000;
      }
    }

    .word-input {
      background: transparent;
      color: rgba(26, 26, 26, 0.74);
      caret-color: rgba(26, 26, 26, 0.74);

      &.input-incorrect {
        color: rgb(255, 94, 94);
      }
    }

    .type-test-results {
      background-color: rgba(77, 77, 77, 0.062);
      color: rgba(32, 32, 32, 0.582);

      tr {
        &:nth-child(even) {
          background-color: rgba(51, 51, 51, 0.07);
        }
      }
    }

    .type-test-timer {
      color: rgb(32, 32, 32);

      .type-test-timer-increase,
      .type-test-timer-decrease {
        svg {
          fill: rgb(48, 48, 48);
        }
      }
    }

    .type-test-restart {
      svg {
        fill: rgb(48, 48, 48);
      }
    }

    .type-test-incorrect-words-modal {
      .type-test-incorrect-words-modal-background {
        background-color: rgba(0, 0, 0, 0.7);
      }

      .type-test-incorrect-words-modal-inner {
        background-color: rgb(245, 245, 245);
        color: rgb(37, 37, 37);

        .type-test-incorrect-words-modal-entry {
          &:nth-child(odd) {
            background-color: rgb(228, 228, 228);
          }
        }

        .incorrect-words-modal-close {
          background-color: rgb(177, 0, 0);
          color: white;
        }
      }
    }
  }

  app-about {
    .about-wrapper {
      background-color: rgba(0, 0, 0, 0.336);
    }

    .tab-wrap {
      background-color: #fff;
    }

    .tab {
      &:checked + label {
        background-color: #fff;
        &:hover {
          background-color: #fff;
        }
      }
      + label {
        color: #333;
        background-color: #efefef;
        &:hover {
          background-color: #f9f9f9;
        }
      }
      &__content {
        color: rgb(85, 85, 85);
      }
    }
  }
}
