@use '../../../../styles/breakpoints' as bp;

:host {
  display: block;
  width: 100%;
  min-height: 100%;
}

.prose-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--page-pad-y-top) var(--space-8) 0;
  gap: var(--space-12);
}

.prose {
  min-width: 0;
}

.prose-bottom-ad {
  display: block;
  margin-top: var(--space-14);
}

.prose-rail {
  display: none;
}

@media (min-width: bp.$bp-2xl) {
  .prose-layout {
    grid-template-columns: minmax(0, 1fr) var(--rail-width);
    max-width: var(--max-content-width-with-rail);
  }

  .prose-rail {
    display: block;
  }

  .prose-rail-ad {
    position: sticky;
    top: var(--space-24);
  }
}
